<template>
  <div>
    <message
      v-for="{username, text } in messages"
      :name="username"
      :sender="username === user?.username"
  >
    {{ text }}
  </message>
  </div>

</template>

<script>

import Message from "./message.vue";
export default {
  name: 'chat',
  components: {Message},
  data(){
    return{
      messages: []
    }
  },
  methods: {
    addMessageChat({username, text}){
      this.messages.push({username: username, text: text});
    },
    clearMessagesChat(){
      this.messages.clear();
    }
  }
}
</script>

<style scoped>

</style>