<template>
  <div id="chatBox" class="box box-w">
    <h2>Chat</h2>
    <div>
      <div id="lobbyChat" class="lobbyChat" >
        <Chat ref="chat"></Chat>
      </div>
      <input type="text" id="messageInput" value="" ref="messageInput">
      <button @click="sendMessage(this.$refs.messageInput.value)">envoyer</button>
    </div>
  </div>
</template>

<script>
import Chat from './chat.vue';
export default {
  name: 'gameChat',
  components: { Chat },
  props:{
    id: String,
    username : String
  },
  methods: {
    onMessage(callback)
    {
      this.messageCallback$ = callback;
    }
  ,
    addMessageChat({username, text})
    {
      if (text === "") {
        return
      }
      this.$refs.chat.addMessageChat({username: username, text: text});
      this.$refs.messageInput.value = '';
    }
  ,
    sendMessage(text)
    {
      this.messageCallback$(text);
      this.addMessageChat({username: this.username, text: text});
    }
  ,
    clearMessagesChat()
    {
      this.$refs.chat.clearMessagesChat();
    }
  }
}
</script>

<style scoped>
.lobbyChat{
  height:150px;
  overflow-y: scroll;
  background-color: #1f1f1f;
}
#chatBox{
  position: relative;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>