<template>
  <div style="overflow-wrap: break-word;">
    <span> <b><u>{{ name }}: </u></b> </span>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'message',
  props: {
    name: { type: String, default: ''},
    sender: { type: Boolean, default: false}
  }
}
</script>

<style scoped>

</style>