<template>
  <Transition>
    <div id="firstInteraction" v-if="show">
      <button @click="$emit('choice', 'tiles')" type="button" class="block"><img src="https://i.imgur.com/k2faV6q.png" alt="Pin" height="100"><br>Deviner la position du trésor</button>
      <button @click="$emit('choice' ,'player')" type="button" class="block"><img src="https://i.imgur.com/TDioLiS.png" alt="Pirate" height="100"><br>Proposer une position à un joueur</button>
    </div>
  </Transition>
</template>

<script>
export default {
  name: 'firstInteractionModal',
  data () {
    return {
      show: false
    }
  },
  mounted() {
    setTimeout(() => {
      this.show = true
    }, 200)
  },
}
</script>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
#firstInteraction{
  position: absolute;
  top:75%;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.block {
  border: none;
  background-color: #2bb0ec;
  padding: 14px 28px;
  margin: 0 20px 0 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
}
.block:hover{
  background-color: grey;
}
</style>