<template>
  <div>
    <div v-if="inGame" id="playerStatus">
      <h3 v-if="winner"> {{winnerName}} a gagné !</h3>
      <h3 v-else-if="isPlayerCurrent">C'est votre tour !</h3>
      <h3 v-else>C'est le tour de {{ currentPlayer }} !</h3>
    </div>
    <div v-if="isFirstInteraction">
      <first-interaction-modal @choice="firstChoice"></first-interaction-modal>
    </div>
    <div v-show="isPromptInteraction">
      <promptInteraction ref="promptInteraction" @choice="promptConfirm"></promptInteraction>
    </div>
    <div id="navbar">
      <div>
        <div style="display: flex;align-items: center;justify-content: center;">
          <img src="/public/favicon.png" style=" height: 3em;width: auto;">
          <h2 style="margin-left: 2%;"> Pactole</h2>
        </div>
        <h3 v-if="inGame">Votre indice :</h3>
        <p>{{ rule }}</p>
      </div>
      <div>
        <game-chat
            :id="id"
            :username="username"
            ref="gameChat"></game-chat>
      </div>
    </div>
    <div class="playerList" :class="{ playerChoice: playerSelection }" ref="playerList">
      <Player @onClick="playerCallback"
          ref="refPlayers"
          v-for="player in players"
          :id="player.id"
          :name="player.username"
          :color="player.color"
      ></Player>
    </div>
  </div>
</template>

<script>
import GameChat from "./chat/gameChat.vue";
import Player from "./Player.vue";
import firstInteractionModal from "./firstInteractionModal.vue";
import promptInteraction from "./promptInteraction.vue";
export default {
  name: 'gameContent',
  components: { Player, GameChat, firstInteractionModal, promptInteraction },
  data() {
    return{
      players: [{id: this.id, username: this.username, color: this.color}],
      isPlayerCurrent: false,
      currentPlayer: '',
      isFirstInteraction: false,
      isPromptInteraction: false,
      winner: false,
      playerSelection: false,
      round: 0,
      rule: '',
      inGame: false,
      winnerName: '',

      interactionCallBack: null,
      playerCallback: null,
      isValidInteractionCallBack: null
    }
  },
  props:
  {
    id: String,
    username : String,
    additionalPlayers: Array
  },
  methods: {
    setRule(rule){
      this.rule = rule;
    },
    deletePlayer(id) {
      for (let item in this.players) {
        if (this.players[item].id === id) {
          this.players.splice(item, 1);
        }
      }
    },
    newPlayer(id, username, color) {
      // If the player is already in the list, we don't add him
      for (let item in this.players) {
        if (this.players[item].id === id) {
          this.players[item].color = color;
          return;
        }
      }
      this.players.push({id: id, username: username, color: color});
    },
    updatePlayer(id, username, color) {
      for (let item in this.players) {
        if (this.players[item].id === id) {
          this.players[item].username = username;
          this.players[item].color = color;
        }
      }
    },
    updatePlayerStatus({idCurrent}){
      this.isPlayerCurrent = false;
      this.inGame = true;
      if(idCurrent === this.id){
        this.isPlayerCurrent = true;
        if(this.round >= 2*this.players.length){
          this.isFirstInteraction = true;
        }
        this.currentPlayer = this.username;
      }
      for (let i = 0; i < this.players.length; i++) {
        if(this.players[i].id === idCurrent){
          this.currentPlayer = this.players[i].username;
        }
      }
      this.round++;
    },
    addMessageChat({id, text})
    {
      let username = '';
      for (let i = 0; i < this.players.length; i++) {
        if(this.players[i].id === id){
          username = this.players[i].username;
        }
      }
      this.$refs.gameChat.addMessageChat({username: username, text: text});
    },
    onMessage(callback)
    {
      this.$refs.gameChat.onMessage(callback);
    },
    sendMessage(text){
      this.$refs.gameChat.sendMessage(text);
    },
    async firstChoice(choice)
    {
      this.isFirstInteraction = false;
      switch(choice){
        case 'tiles': // If the player decided that he found the correct tile
          this.interactionCallBack({ type: 'tiles' });
          break;
        case 'player': // If the player want to interact with another player about their hint
          // Set the player selection to true
          this.playerSelection = true;
          for(let pl of this.$refs.refPlayers){
            pl.setClickable(true, (pl.id === this.id));
          }
          // Await the player choice
          let choice = await new Promise(resolve => {
            this.playerCallback = resolve;
          });

          // Set the player selection to false
          this.playerSelection = false;
          for(let pl of this.$refs.refPlayers){
            pl.setClickable(false);
          }

          this.interactionCallBack({ type: 'player', id: choice });
          break;
      }
    },
    onChoice(callback)
    {
      this.interactionCallBack = callback;
    },
    promptInteraction(type, context)
    {
      switch (type){
        case 'roundCryptid':
        case 'roundPlayer':
          this.isPromptInteraction = true;
          this.$refs.promptInteraction.setType(type);
          this.$refs.promptInteraction.setAnswer(context.answer);
          break;
      }
    },
    promptConfirm(context){
      this.promptCallback({ type: context});
      this.isPromptInteraction = false;
    },
    onPrompt(callback)
    {
      this.promptCallback = callback;
    },
    toggleConfetti(name)
    {
      this.winnerName = name;
      this.winner = !this.winner;
      if(this.winner){
        this.$confetti.start();
      }
      else{
        this.$confetti.stop();
      }
    },
    alert(message)
    {
      this.$swal(message);
    }
  },
  beforeMount(){
    // Players already in the lobby before me
    for (let item in this.additionalPlayers){
      this.newPlayer(this.additionalPlayers[item].id, this.additionalPlayers[item].username, this.additionalPlayers[item].color);
    }
  }
}
</script>

<style scoped>
#playerStatus{
  position: absolute;
  right:50%;
  color: white;
}
.playerList{
  position: absolute;
  top: 5%;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.playerChoice {
  animation: displayUser 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

@keyframes displayUser {
  from {top: 5%;}
  to {top: 60%;}
}
#navbar{
  height: 100%;
  max-width: 300px;
  background-color: #334b26;
  color: white;
  position: fixed;
  padding: 2%;
  box-shadow: 0 0 50px #1e1e1e;
  z-index: 10; /* Fixes Chat being blocked by the player list */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>