<template>
  <div class="player" :class="{ clickable: (clickable && !self) }" @click="onClick">
    <svg  width="24.000000pt" height="24.000000pt" viewBox="0 0 24.000000 24.000000" preserveAspectRatio="xMidYMid meet">
      <g transform="translate(0.000000,24.000000) scale(0.100000,-0.100000)"
         :fill="color" stroke="none">
        <path d="M90 195 c-15 -18 -10 -45 13 -59 34 -22 73 27 47 59 -16 19 -44 19 -60 0z"/>
        <path d="M47 78 c-9 -5 -17 -18 -17 -28 0 -18 7 -20 90 -20 82 0 90 2 90 19 0 11 -6 23 -12 28 -19 11 -132 12 -151 1z"/>
      </g>
    </svg>
    <p>{{ name }}</p>
  </div>
</template>

<script>
export default {
  name: 'Player',
  data () {
    return {
      clickable: false,
      self: false
    }
  },
  props: {
    id: String,
    color: String,
    name: String
  },
  methods: {
    setClickable (clickable, self = false) {
      this.clickable = clickable
      this.self = self
    },
    onClick () {
      if (this.clickable && !this.self) {
        this.$emit('onClick', this.id)
      }
    }
  }
}
</script>

<style scoped>
.player{
  border: none;
  padding: 14px 28px;
  margin: 0 20px 0 20px;
  font-size: 16px;
  text-align: center;
  border-radius: 15px;
  color: white;
}
.clickable {
  background-color: rgba(0, 0, 0, 0.2);
  animation: displayCard 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
  animation-delay: 0.1s;
  transition: transform .2s;
  transform: translate3d(0, 0, 0);
}

@keyframes displayCard {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: #2bb0ec;
    cursor: pointer;
  }
}

.clickable:hover {
  transform: scale(1.5);
}
</style>