<template>
  <div class="prompt">
    <div class="button" :class="{ clickable: clickable }" @click="onClick">
      Repondre {{this.answer}}
    </div>
  </div>
</template>

<script>
export default {
  name: "promptInteraction",
  data () {
    return {
      clickable: true,
      type: '',
      answer: ''
    }
  },
  methods: {
    onClick () {
      this.$emit('choice', this.type)
    },
    setType (type) {
      this.type = type
    },
    setAnswer (answer) {
      if(answer === 'yes')
        this.answer = "que le pactole peut être ici"
      if(answer === 'no')
        this.answer = "que le pactole ne peut pas être ici"
    }
  }
}
</script>

<style scoped>
.prompt{
  border: none;
  background-color: #2bb0ec;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  top:75%;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.clickable {
  background-color: rgba(0, 0, 0, 0.2);
  animation: displayCard 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
  animation-delay: 0.1s;
  transition: transform .2s;
  transform: translate3d(0, 0, 0);
}

@keyframes displayCard {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: #2bb0ec;
    cursor: pointer;
  }
}

.clickable:hover {
  transform: scale(1.5);
}
</style>