<template>
  <div id="startingModal">
    <h1>Pactole</h1>
    <h2>Touvez le trésor avant vos amis !</h2>
    <div id="profile">
      <h2>Ton profil</h2>
      <label>Pseudo :</label>
      <input id="name" type="text">
    </div>
    <div>
      <button v-on:click="createGame" class="btn green" type="button">Créer une partie</button>
      <button v-if="partyId" v-on:click="joinGame" class="btn green" type="button">Joindre une partie</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'startingModal.vue',
  data() {
    callback$: null
  },
  props: {
    partyId: String,
  },
  methods: {
    createGame(){
      if(this.callback$ == null || document.getElementById("name").value === ""){
        return
      }
      this.callback$("createGame", document.getElementById("name").value)
    },
    joinGame(){
      if(this.callback$ == null || document.getElementById("name").value === ""){
        return
      }
      this.callback$("joinGame", document.getElementById("name").value)
    },
    onChoice(callback){
      this.callback$ = callback
    }
  }
}
</script>

<style scoped>
#startingModal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 5px;
}
#profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}
</style>