<template>
  <div  id="lobbyModal" class="interface lobby">
    <div id="lobbyBox">
      <div id="settings" class="box box-w">
        <h2>Paramètres</h2>
        <label>Difficulté :</label>
        <select id="selectSetting">
          <option value="novice">Débutant</option>
          <option value="normal">Normal</option>
          <option value="hard">Difficile</option>
        </select>
      </div>
      <div id="players" class="box box-b">
        <h2>Joueurs</h2>
        <div v-for="player in players" :key="player.username">
          <p>{{ player.username }}</p>
        </div>
      </div>
    </div>
    <div id="linkBox" class="box-b">
      <h2>Invite tes amis ! (5 maximum)</h2>
      <div class="invite-bar">
        <div class="invite-input">
          <input id="invite" type="text" :value="this.partyHost + '/#' + this.partyId" readonly>
        </div>
        <button @click="copy">Copier</button>
      </div>
    </div>
    <div>
      <button v-if="this.playerType === 'master'" :disabled="players.length <= 2" @click="launchGame">Lancer la partie !</button>
      <button @click="goBack">Retour</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'lobbyModal',
  data() {
    return{
      playerType : 'client',
      players: [{id: this.id, username: this.username}]
    }
  },
  props: {
    type: String,
    id: String,
    username : String,
    partyId: String,
    partyHost: String,
    additionalPlayers: Array
  },
  methods: {
    deletePlayer(id){
      for(let item in this.players){
        if(this.players[item].id === id){
          this.players.splice(item,1);
        }
      }
    },
    newPlayer(id, username){
      // If the player is already in the list, we don't add him
      for(let item in this.players){
        if(this.players[item].id === id){
          return;
        }
      }
      this.players.push({id: id,username: username});
    },
    updateSettings(key, context){

    },
    switchType(typeArg){
      switch (typeArg){
        case 'client':
          this.playerType = typeArg;
          break;
        case 'master':
          this.playerType = typeArg;
          break;
      }
    },
    launchGame(){
      if(this.callback$ == null){
        return
      }
      this.callback$("launchGame")
    },
    goBack(){
      if(this.callback$ == null){
        return
      }
      this.callback$("goBack")
    },
    copy() {
      navigator.clipboard.writeText(this.partyHost + '/#' + this.partyId);
    },
    onChoice(callback){
      this.callback$ = callback
    }
  },
  beforeMount(){
    // Players already in the lobby before me
    for (let item in this.additionalPlayers){
      this.newPlayer(this.additionalPlayers[item].id, this.additionalPlayers[item].username);
    }
    if (this.type === 'master'){
      this.switchType('master');
    }
  }
}
</script>

<style scoped>
#lobbyModal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
#lobbyBox{
  display: flex;
  justify-content: center;
}
#linkBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-w{
  background-color: wheat;
}
.box{
  width: 300px;
  padding-bottom: 5%;
  text-align: center;
}
.box-b{
  color: white;
}
.invite-bar{
  display: flex;
}
</style>