<template>
  <div id="struct">
    <canvas id="game"></canvas>
  </div>
</template>

<script setup>

</script>
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
html, body{
  margin:0px;
  height:100%;
  font-family: 'Roboto', sans-serif;
}
#app, #struct{
  height: 100%;
}
#game{
  position: fixed;
  top: 0;
  left: 0;
}
#struct{
  background-color: darkslategray ;
}
</style>
